a {
    color: rgb(255, 255, 255);
}
a:visited {
    color: rgb(255, 255, 255);
  }
a:hover, a:active, a:focus {
    color:rgb(255, 255, 255);
  }

  /*header info */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #010044;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(170, 170, 170);
    color: black;
  } 
  
  .leaflet-popup-content {
    text-align: center;
  }

  .tableauPlaceholder {
    /* placeholder: any formatting for maps will go here ;)*/
  }

  /* Style buttons */
.btn {
  background-color: #010044;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #0400ff;
  color: white;
}

body {
  background-color: #e7e7e7;
}

.panel-default {
  color: black;
}